<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="peer-section">
      <div style='display: flex; flex-direction: row;'>
        <% if (peer) peers.forEach((peer, peer_index) => { %>
        <ol>
          <button
            style="
              background-color: Transparent;
              background-repeat: no-repeat;
              border: none;
              cursor: pointer;
              overflow: hidden;
            "
          >
          <a href="/peer/<%=peer_index+1%>"><i class="far fa-user-circle peer-icon" style=<%= peer_index+1 == index?
            'color:red' : 'color:black'%> ></i></a>
          </button>
          <h2>Peer <%= peer.name %></h2>

    </div>
    <div class="blockchain-section">
      <h1>Blockchain</h1>
      <% if (peer) peer.blockchain.chain.forEach((block, block_index) => { %>
      <block>
        <div>
          <span>DATA</span>
          <input type="text" value="<%= block.data %>" />
        </div>
        <span>Previous Hash: <%= block.lastHash %></span>
        <span>Hash: <%= block.hash %></span>
        <div>
          <span style='font-size: 24px; font-weight: bold;'>#<%=block_index%></span>
          <span style='margin-right:10px; margin-left: 10px;'}}>
            <%=new Date(block.timestamp).getHours()%><%=":"%><%=new Date(block.timestamp).getMinutes()%><%=":"%><%=new Date(block.timestamp).getSeconds()%>
            <%=new Date(block.timestamp).getDate()%><%="/"%><%=new Date(block.timestamp).getMonth()%><%="/"%><%=new Date(block.timestamp).getFullYear()%>
          </span>
          <span>Nonce: <%= block.nonce %></span>
        </div>
      </block>
      <% } ); %>
      <div class="add-block">
        <form id="form-add-data" action="<%=index%>/addData" method="POST">
          <p>
              <label for="data">Data: </label>
              <input type="text" id="data" name="data"></input>
          </p>
          <input type="submit" value="Submit"></input>
        </form>
      </div>
    </div>
  </body>
</html>
